# J6 as four emulated differential outputs, pins 1-4 true, 5-8
# complement, as a PMOD DVI takes them.
IO_LOC  "j6_io[1]" V18;
IO_PORT "j6_io[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[2]" G21;
IO_PORT "j6_io[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[3]" F18;
IO_PORT "j6_io[3]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[4]" C22;
IO_PORT "j6_io[4]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
